body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(https://cdn.custom-cursor.com/db/7248/32/starter-3d-effect-cursor-cursor.png), default;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7a18ec;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a18ec;
  opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}